
/*Reseting options*/
* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;

}
/*All page*/
.page {
	width: 100%;
	padding: 65px 150px 60px 150px;
	font-family: 'Merriweather Sans', sans-serif;
/*Main content section styling*/
}
.main_content .row {
	padding-bottom: 50px;
	
}
.main_content .main_col-1 {
	width: 49%;
	float:left;
	

}

.main_content header {
	color: #0090d6;
	font-size: 32px;
	padding-bottom: 30px;
}

.main_content .main_col-2 {
	width: 49%;
	float: right;
}
.main_content .footer_main_content {
	padding: 40px 0px 40px 0px;
}
/* Exclamation marc*/
.main_content .exclamation {
	width: 18px;
	height: 20px;
	background-color: #0090d6;
	text-align: center;
	color: white;
	font-size: 18px;
	font-weight: bold;
	float: left;
	margin-left: -18px;
}
.main_content .footer_main_content p {
	padding: 4px 0px 0px 4px;
}
.main_content .footer_main_content a {
	text-decoration: none;
	color: #0090d6;
}

.main_content .main_list li {
	list-style-type: none;
	list-style-position: inside;
	padding-top: 10px;
}
.main_content .main_list li:before {
	content: "- "
}
/*Grafic content section*/


.grafic_content header {
	color: #0090d6;
	font-size: 32px;
	padding: 30px 0px 30px 0px;
}
.grafic_content .license_table {
	width: 100%;
	text-align: left;
	padding-bottom: 30px;

}
.grafic_content .license_table table {
	border-collapse: collapse;
}

.grafic_content .license_table th {
	width: 20%;
	height: 40px;
	border-right: 1px solid #0090d6;
	background-color: #c7deee;
	padding: 10px;
	
}
.grafic_content .license_table td {
	width: 20%;
	height: 60px;
	border-right: 1px solid #0090d6;
	padding: 10px;

}

.grafic_content .license_table th:last-child {
	border-right: none;
}

.grafic_content .license_table td:last-child {
	border-right: none;
}

.grafic_content .text div {
	padding-bottom: 10px;
}
/* Abr styling*/

.grafic_content .adv {
	padding-bottom: 30px;
}

.grafic_content .content_adv {
	padding-left: 50px;
}

.grafic_content .adv .col-1 {
	width: 49%;
	float: left;
}
.grafic_content .adv .col-2 {
	width: 49%;
	float: right;
}

.grafic_content .adv address {
	float: right;
	padding-top: 30px;
}
/*Footer styling*/
footer .qr_code {
	padding-top: 40px;

}
footer .qr_code div {
	width: 40%;
	float: left;
	padding-left: 200px;
}
footer .qr_code figcaption {
	width: 60%;
	float: right;
	padding-top: 25px;
}
footer .qr_code a {
	text-decoration: none;
	color: #0090d6


}
footer .social ul {
	padding: 50px 0px 0px 200px;
	list-style-type: none;

}
footer .social ul li {
	padding-bottom: 20px;
}

footer .social li a {
	text-decoration: none;
	color: black;
}
footer .contacts {
	padding: 40px 0px 0px 200px;
	width: 80%;
	font-size: 8px;
}
footer .contacts td {
	padding-right: 10px;
}
footer .footer_number {
	float: right;
	font-size: 9px;
	padding-top: 100px;
}

/*HELPPERS*/
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }

.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; } .clearfix { display: inline-block; } /* start commented backslash hack \*/ * html .clearfix { height: 1%; } .clearfix { display: block; } /* close commented backslash hack */
