* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  

}
header {


}
.page {
	max-width: 100% auto;
	font-family: 'Merriweather Sans', sans-serif;
}

.first {
	width: 100%;
	font-size: 40px;
	padding-bottom: 60px;
	padding-left: 120px;
}
.second {
	width: 70%;
	padding-left: 450px;
	padding-top: 50px;
	font-size: 24px;
	padding-bottom: 60px;

}
td.none {
	border-right: none;
	padding: 0;
	padding-bottom: 5px;
}
td.none.little {
	width: 30%;
}
td {
	border-right: 1px solid blue;
	text-align: left;
    padding: 40px;
    width: 80px;
}

td:last-child {
	border: none;
}
th {
	background-color: #DCDCDC;
	text-align: left;
    padding: 40px;
    border-right: 1px solid blue;
}
th:last-child {
	border: none;
}
.footer {
	font-size: 40px;
	padding-left: 120px;

}
.img {
	
}
.wraper{
	
	padding: 20px 20px 60px 20px;
}
.colum1 {
	width: 50%;
	font-size: 40px;
	padding: 0px 0px 60px 120px;
	/*border: 1px solid black;*/
	float: left;
	font-family: 'Merriweather Sans', sans-serif;

}
hr {
	color: #DCDCDC;
	
}

address {
	position: relative;
	left: 75%;
	padding-top: 30px;
}
.code {
	width: 40%;
	padding-left: 450px;
	padding-top: 70px;
	float: left;
	/*border: 1px solid black;*/
	
}
span {
	padding-left: 450px;
	font-size: 30px;

}
span.footer {
	position: absolute;
	right:0%

}
.lisence {
	width: 60%;
	float: right;
	/*border: 1px solid black;*/
	padding-top: 140px;

}
.colum2 {
	width: 50%;
	border: 1px solid black;
	float: right;
}
header {
	font-size: 70px;
	color: #6495ED;
	padding: 120px 0px 120px 120px;
	/*border: 1px solid black;*/
}
.list {
	list-style-type: none;
	list-style-position: inside;
}
li:before {
	content: "-"
}

div.inner {
	padding-left: 250px;
}

.line {
	padding-left: 120px;
	font-size: 40px;
}

.costumers {
	padding-left: 400px;
}

.image {
	position: absolute;
	position-left: 200px;
}
p {
	font-size: 40px;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }

.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; } .clearfix { display: inline-block; } /* start commented backslash hack \*/ * html .clearfix { height: 1%; } .clearfix { display: block; } /* close commented backslash hack */
